.job-card{

    background-color: lightcyan;
    width: 500px;
    border-radius: 30px;
    max-width: 500px;
    border: 10px solid mediumturquoise;
    padding: 5px;
    margin: 10px;
}

h1{
   font-family: "Courier New", monospace;
   font-size: 500 px;
}

h2{
    font-family: "Courier New", monospace;
    font-size: 90 px;
}

.divForm{
    border: 2px solid black;
    border-radius: 8px;
    width: 500px;
    padding: 5px;
    margin: 10px;
}

select{
    background-color: darkblue;
    color: whitesmoke;
}
.apply{
    color: black;
    background-color: yellow;
}
.reject{
    color: black;
    background-color: red;
}
.offer{
    color: black;
    background-color: lightblue;
}
.interview{
    color: black;
    background-color: pink;
}

 .hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-content {
  background: white;
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
}


/* CSS */
.deleteBtnCss {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.deleteBtnCss:hover,
.deleteBtnCss:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.deleteBtnCss:active {
  background: var(--color);
  color: #fff;
}


/* CSS */
.editBtnCss {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.editBtnCss:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.editBtnCss:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}